@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flex-center {
    @apply flex flex-row items-center justify-center;
  }
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-display: swap;
  src:
    local('Pretendard Black'),
    url(/fonts/Pretendard-Black.subset.woff2) format('woff2'),
    url(/fonts/Pretendard-Black.subset.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-display: swap;
  src:
    local('Pretendard ExtraBold'),
    url(/fonts/Pretendard-ExtraBold.subset.woff2) format('woff2'),
    url(/fonts/Pretendard-ExtraBold.subset.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src:
    local('Pretendard Bold'),
    url(/fonts/Pretendard-Bold.subset.woff2) format('woff2'),
    url(/fonts/Pretendard-Bold.subset.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  src:
    local('Pretendard SemiBold'),
    url(/fonts/Pretendard-SemiBold.subset.woff2) format('woff2'),
    url(/fonts/Pretendard-SemiBold.subset.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src:
    local('Pretendard Medium'),
    url(/fonts/Pretendard-Medium.subset.woff2) format('woff2'),
    url(/fonts/Pretendard-Medium.subset.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src:
    local('Pretendard Regular'),
    url(/fonts/Pretendard-Regular.subset.woff2) format('woff2'),
    url(/fonts/Pretendard-Regular.subset.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-display: swap;
  src:
    local('Pretendard Light'),
    url(/fonts/Pretendard-Light.subset.woff2) format('woff2'),
    url(/fonts/Pretendard-Light.subset.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-display: swap;
  src:
    local('Pretendard ExtraLight'),
    url(/fonts/Pretendard-ExtraLight.subset.woff2) format('woff2'),
    url(/fonts/Pretendard-ExtraLight.subset.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-display: swap;
  src:
    local('Pretendard Thin'),
    url(/fonts/Pretendard-Thin.subset.woff2) format('woff2'),
    url(/fonts/Pretendard-Thin.subset.woff) format('woff');
}

@font-face {
  font-family: 'Preahvihear';
  font-weight: 400;
  font-display: swap;
  src:
    local('Preahvihear Regular'),
    url(/fonts/Preahvihear-Regular.ttf) format('truetype');
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.custom-height {
  min-height: calc(100vh - 80px);
}
.custom-gradient {
  background: linear-gradient(
    -90deg,
    white 0%,
    white 50%,
    rgba(255, 255, 255, 0.8) 100%
  );
}

#camp-place {
  width: 340px;
}

.overview {
  grid-template-columns: minmax(700px, 980px) 420px;
}

.reserve-button {
  width: 202px;
}

.reserve-options {
  flex-basis: 240px;
}

@media (min-width: 1200px) {
  .reserve {
    grid-template-columns: minmax(657px, 715px) minmax(439px, 621px);
  }
}

@media (max-width: 1199px) {
  .reserve-button {
    width: 140px;
    white-space: nowrap;
  }
}

.reserve-lineOver {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


@media (min-width: 825px) and (max-width: 1030px) {
  #siteInfo .reserve-lineOver {
    width: 160px;
  }
}

@media (min-width: 768px) and (max-width: 824px) {
  #siteInfo .reserve-lineOver {
    width: 120px;
  }
  .reserve-options {
    flex-basis: 200px;
  }
}

@media (min-width: 370px) and (max-width: 432px) {
  #reserve .reserve-lineOver {
    width: 160px;
  }
  #profile .reserve-lineOver {
    width: 160px;
  }
}
@media (min-width: 340px) and (max-width: 370px) {
  #reserve .reserve-lineOver {
    width: 120px;
  }
  #profile .reserve-lineOver {
    width: 120px;
  }
}

@media (min-width: 320px) and (max-width: 340px) {
  #reserve .reserve-lineOver {
    width: 110px;
  }
  #profile .reserve-lineOver {
    width: 110px;
  }
}

@media (min-width: 942px) and (max-width: 1199px) {
  .reserve {
    grid-template-columns: minmax(435px, 657px) minmax(371px, 439px);
  }
  .reserve-options {
    flex-basis: 177px;
  }
}

@media (min-width: 825px) and (max-width: 941px) {
  .reserve-options {
    flex-basis: 240px;
  }
}

@media (min-width: 768px) and (max-width: 941px) {
  .reserve {
    grid-template-columns: minmax(300px, 435px) minmax(349px, 371px);
  }
  .reserve-button {
    width: 114px;
  }
}

@media (min-width: 400px) and (max-width: 767px) {
  .reserve-options {
    flex-basis: 280px;
  }
}
@media (min-width: 320px) and (max-width: 370px) {
  .reserve-options {
    flex-basis: 180px;
  }
}

@media (min-width: 360px) and (max-width: 767px) {
  .reserve-button {
    max-width: 101px;
  }
}

@media (min-width: 320px) and (max-width: 360px) {
  .reserve-button {
    width: 82px;
  }
}

.filterHidden {
  overflow: clip;
  overflow-y: visible;
}

.custom-header {
  grid-template-columns: 1fr 3fr 1fr;
}

.custom-header-logo {
  grid-column: 2/ 3;
}

.border-dashed {
  border-style: dashed;
}

#filterSlide {
  margin: 0;
}

.searchPageOverFlow {
  height: calc(100vh - 81px - 169px);
}

#detail-swiper .swiper-pagination-bullet-active {
  background-color: #4f9e4f;
}
/* progress */
#progress::-webkit-progress-bar {
  background: #f5f5f5;
  border-radius: 6px;
  border: 1px solid #eeeeee;
  height: 46px;
  overflow: hidden;
}

#progress::-webkit-progress-value {
  background: #dfd5c2;
  border-radius: 6px;
  height: 46px;
  width: 48px;
}

@media (max-width: 767px) {
  #category-swiper {
    display: contents !important;
  }
  #category-swiper .swiper-wrapper {
    display: contents !important;
    overflow: auto !important;
    max-width: 1120px;
  }
  #swiper-slide {
    display: contents;
  }
  .custom-gradient {
    background: none;
  }
  .searchPageOverFlow {
    min-height: calc(100vh - 81px - 59px);
  }
  .camp-site {
    display: grid;
    grid-template-areas:
      'info'
      'facilities'
      'button';
  }
  .camp-site-facilities {
    grid-area: facilities;
  }
  .camp-site-info {
    grid-area: info;
  }
  .camp-site-button {
    grid-area: button;
  }
}

@media (min-width: 768px) {
  #category-slide {
    /* width: 114px !important; */
    /* padding: 10px !important; */
    /* height: 134px !important; */
    margin-right: 12px;
  }

  #category-swiper {
    margin: 0px !important;
    /* padding: 8px 0px !important; */
  }
}

@media (max-width: 850px) {
  #filterSlide {
    width: 470px;
  }
}

@media (max-width: 800px) {
  #filterSlide {
    width: 450px;
  }
}

@media (max-width: 790px) {
  #filterSlide {
    width: 430px;
  }
}

@media (min-width: 1200px) {
  #category-slide {
    width: 126px !important;
    margin-right: 16px;
  }
}

#camp-place {
  width: 340px;
}

@media (max-width: 767px) {
  .custom-height {
    min-height: calc(100vh - 52px);
  }
  #category-swiper {
    display: contents !important;
  }
  #category-swiper .swiper-wrapper {
    display: contents !important;
  }
  #camp-place {
    width: 184px;
  }
  .custom-header {
    grid-template-columns: 1fr 7fr 1fr;
  }
  #filterSlide {
    width: 100%;
  }
}

@layer utilities {
  .buttonHover {
    @apply hover:bg-primary50 hover:text-primary100;
  }
  .buttonDisabled {
    @apply disabled:bg-gray300 disabled:text-gray500;
  }
  .buttonForDatePicker {
    @apply flex-center flex w-88pxr whitespace-nowrap rounded-[999px] border bg-white px-20pxr py-12pxr shadow-searchBar;
  }
}

@layer components {
  .button-careCenter {
    @apply flex-center h-46pxr w-111pxr flex-shrink-0 gap-4pxr whitespace-nowrap rounded-full bg-white py-12pxr pl-20pxr pr-16pxr text-center text-gray600 font-body2-semibold;
  }
}

/* 스크롤  */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* .scroll::-webkit-scrollbar {
  background-color: white;
  width: 5px;
}
.scroll::-webkit-scrollbar-thumb {
  background-color: #c8c8c8;
}
.scroll::-webkit-scrollbar-track {
} */

.react-datepicker-wrapper,
.react-datepicker__input-container,
.wrapper {
  display: flex !important;
  width: 100% !important;
  flex: 1.34 1.34 0% !important;
}

/* checkBox */

input[type='checkbox'] {
  -webkit-appearance: none;
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
  outline: none !important;
  border: 2px solid #949494;
  border-radius: 2px;
  background: #fbfbfb;
}

input[type='checkbox']::before {
  content: '\2713';
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: scale(0) translate(-50%, -50%);
  line-height: 1;
}

input[type='checkbox']:hover {
  border-color: rgba(170, 170, 170, 0.5);
}

input[type='checkbox']:checked {
  background-color: #4f9e4f;
  border-color: rgba(255, 255, 255, 0.3);
  color: white;
  border: 0;
}

input[type='checkbox']:checked::before {
  border-radius: 2px;
  transform: scale(1) translate(-50%, -50%);
}

/*  */
input[id='checkTable'] {
  -webkit-appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  outline: none !important;
  border: 2px solid #949494;
  border-radius: 2px;
  background: #fbfbfb;
}

input[id='checkTable']::before {
  content: '\2713';
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: scale(0) translate(-50%, -50%);
  line-height: 1;
}

input[id='checkTable']:hover {
  border-color: rgba(170, 170, 170, 0.5);
}

input[id='checkTable']:checked {
  background-color: #4f9e4f;
  border-color: rgba(255, 255, 255, 0.3);
  color: white;
  border: 0;
}

input[id='checkTable']:checked::before {
  border-radius: 2px;
  transform: scale(1) translate(-50%, -50%);
}

/* 2줄이상 긴텍스트 생략 */
.lineOver {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.modal-up {
  transform: translate(0, 100%);
  transition: 5s;
  animation: modal-slide 0.1s 0.1s;
  animation-fill-mode: forwards;
}

@keyframes modal-slide {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0%);
  }
}

.arrowDown {
  transform: rotate(180deg);
}

/* header */

/* profile */

.profile {
  grid-template-columns: 384px 1fr;
}

.profile-lineOver {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profile-screen {
  height: calc(100vh - 133px - 81px);
}

@media (min-width: 901px) and (max-width: 1199px) {
  .profile {
    grid-template-columns: minmax(234px, 384px) minmax(586px, 885px);
  }
}

@media (min-width: 768px) and (max-width: 900px) {
  .profile {
    grid-template-columns: 234px 1fr;
  }
}

@media (max-width: 828px) {
  .profile-width {
    width: 110px;
  }
}

@media (max-width: 767px) {
  .profile-screen {
    height: 100vh;
  }
  .profile-width {
    width: 100%;
  }
}

/* mypage */
.mypage {
  grid-template-columns: 169.5px 169.5px;
}

@media (min-width: 368px) and (max-width: 767px) {
  .mypage {
    grid-template-columns: minmax(162px, 100%) minmax(162px, 100%);
  }
}

@media (min-width: 320px) and (max-width: 367px) {
  .mypage {
    grid-template-columns: minmax(138px, 162px) minmax(138px, 162px);
  }
}

.shadow-test {
  box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.07);
  /* 0px 4px 17px 0px rgba(0, 0, 0, 0.07); */
}

.facility-icon svg,
.facility-icon svg path {
  width: 28px;
  height: 28px;
}


/* radio 스타일 */
.selectRadio {
  position: relative;

}
.selectRadio label {
  font-size: 20px;
  color: white;
  
}
          
.selectRadio input[type="radio"] {
  width: 24px;
  height: 24px;
 
  border: 0;
}
.selectRadio input[type="radio"]+label {
  width:24px;
  height:24px;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;  
}
          
.selectRadio input[type="radio"]+label:before {
  content: '\2713';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  text-align: center;
  background-color: #4F9E4F;
  border: 1px solid #cacece;
  border-radius: 100%;
}

.selectRadio input[type="radio"]+label.labelStyle:before {
  content: '';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  text-align: center;
  background-color: #dfdfdf;
  border: 1px solid #cacece;
  border-radius: 100%;
}

.selectRadio input[type="radio"]:checked+label:before {
  background-color: #4F9E4F;
} 
          
