@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flex-center {
    @apply flex flex-row items-center justify-center;
  }
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-display: swap;
  src:
    local('Pretendard Black'),
    url(/fonts/Pretendard-Black.subset.woff2) format('woff2'),
    url(/fonts/Pretendard-Black.subset.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-display: swap;
  src:
    local('Pretendard ExtraBold'),
    url(/fonts/Pretendard-ExtraBold.subset.woff2) format('woff2'),
    url(/fonts/Pretendard-ExtraBold.subset.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src:
    local('Pretendard Bold'),
    url(/fonts/Pretendard-Bold.subset.woff2) format('woff2'),
    url(/fonts/Pretendard-Bold.subset.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  src:
    local('Pretendard SemiBold'),
    url(/fonts/Pretendard-SemiBold.subset.woff2) format('woff2'),
    url(/fonts/Pretendard-SemiBold.subset.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src:
    local('Pretendard Medium'),
    url(/fonts/Pretendard-Medium.subset.woff2) format('woff2'),
    url(/fonts/Pretendard-Medium.subset.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src:
    local('Pretendard Regular'),
    url(/fonts/Pretendard-Regular.subset.woff2) format('woff2'),
    url(/fonts/Pretendard-Regular.subset.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-display: swap;
  src:
    local('Pretendard Light'),
    url(/fonts/Pretendard-Light.subset.woff2) format('woff2'),
    url(/fonts/Pretendard-Light.subset.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-display: swap;
  src:
    local('Pretendard ExtraLight'),
    url(/fonts/Pretendard-ExtraLight.subset.woff2) format('woff2'),
    url(/fonts/Pretendard-ExtraLight.subset.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-display: swap;
  src:
    local('Pretendard Thin'),
    url(/fonts/Pretendard-Thin.subset.woff2) format('woff2'),
    url(/fonts/Pretendard-Thin.subset.woff) format('woff');
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-height {
  height: calc(100vh - 80px);
}
@media (max-width: 767px) {
  .custom-height {
    height: calc(100vh - 52px);
  }
}

@layer components {
  .button-circle {
    @apply rounded-full bg-primary100 px-48pxr py-16pxr text-center text-white font-title3-semibold hover:bg-primary50 hover:text-primary100 active:text-black disabled:bg-gray300 disabled:text-gray500 tablet:px-64pxr tablet:py-28pxr tablet:font-title1-semibold;
  }
  .button-round {
    @apply flex-center flex h-64pxr w-318pxr rounded-[16px] bg-gray200 text-gray700 font-body1 hover:bg-primary50 hover:text-primary100 active:text-black disabled:bg-gray300 disabled:text-gray500 tablet:h-108pxr;
  }
  .button-search {
    @apply flex-center flex h-64pxr w-full flex-shrink-0 rounded-md bg-primary100 text-white font-title3-bold hover:bg-primary50 hover:text-primary100  active:text-black disabled:bg-gray300 disabled:text-gray500 tablet:h-62pxr desktop:w-182pxr;
  }
}
