.react-datepicker__header {
}
.react-datepicker__time-container,
.react-datepicker__time-box,
.react-datepicker__time {
  width: 14.125rem !important;
}

.react-datepicker {
  position: relative;
  border: 0.125rem solid #dfdfdf;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.react-datepicker__time-list-item {
  font-family: Pretendard;
  font-size: 1rem;
  padding-top: 0.625rem !important;
  padding-bottom: 0.625rem !important;
  height: initial !important;
}

.react-datepicker__time-list-item--selected {
  background-color: black !important;
}

.react-datepicker__navigation {
  position: absolute !important;
  right: 222px !important;
}
