.swiper-pagination-bullets {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.swiper-pagination-bullet {
  background-color: white !important;
}

#campImage-swiper .swiper-wrapper {
  gap: 12px !important;
}

#campImage-swiper .swiper-wrapper .swiper-slide {
  width: 100px !important;
  height: 100px !important;
}
