.Toastify__toast-container {
  width: 255px !important;
  height: 46px !important;
}

.Toastify__toast {
  background-color: #2b2b2b !important;
  width: 255px !important;
  height: 46px !important;
  border-radius: 8px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 12px 64px !important;
  color: white !important;
  font-size: 16px !important;
  line-height: 1.4 !important;
  letter-spacing: -0.16px !important;
  font-family: Pretendard !important;
  font-weight: 700 !important;
  white-space: nowrap !important;
}

.Toastify__toast-container .Toastify__close-button {
  display: none !important;
}

.Toastify__toast-container .Toastify__toast-icon {
  display: none !important;
}

@media (min-width: 1200px) {
  .Toastify__toast-container {
    top: 40px !important;
    bottom: auto !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
  }
}

@media (max-width: 1199px) {
  .Toastify__toast-container {
    top: 24px !important;
    bottom: auto !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
  }
}

@media only screen and (max-width: 480px) {
  .Toastify__toast-container {
    width: 255px !important;
    height: 0px !important;
    padding: 0px !important;
    left: 50% !important;
    margin: 0 auto !important;
    top: 24px !important;
    transform: translateX(-50%) !important;
  }
}

.Toastify__toast-body {
  padding: 0px !important;
}
